@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "./icons-style.scss";


body{
    background-color: rgb(233, 241, 245);
}

/* Case Big Screen PC */
@media only screen and (min-width: 900px) {

   

    #layout-container{
        background-color: white;
        max-width: 1300px;
        margin: auto;
    }

        
    .div-abs-right{
        position: absolute;
        top: 1em;
        right: 3em;
    }

    #layout-footer {
        background-color: white;
        position: absolute;
        bottom: 0;
        min-width: 1300px;
        height: 2.5rem;            /* Footer height */
    }

}


/* Font used for Header */
@font-face {
    font-family:"Home";
    src: url("/themes/comite/assets/fonts/Home.ttf") format("truetype");
}

#title-header{
    font-family: Home;
    font-size: 35px;
    color: #20b6f1;
}


#layout-content{
    min-height: 69vh;
}

.carousel-sm{
    max-height: 15em;
}

