@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "./icons-style.scss";
@import "./variables.scss";

body{
    background-color: $base-background;
}

/* Case Big Screen PC */
@media only screen and (min-width: 900px) {
    #layout-container{
        background-color: $base-white;
        max-width: 1300px;
        margin: auto;
    }
        
    .div-abs-right{
        position: absolute;
        top: 1em;
        right: 3em;
    }

    #layout-footer {
        background-color: $base-white;
        bottom: 0;
        margin-top: 100px;
    }

}

/* Font used for Header */
@font-face {
    font-family:"Home";
    src: url("/themes/comite/assets/fonts/Home.ttf") format("truetype");
}

#title-header{
    font-family: Home;
    font-size: 35px;
    color: $base-header;
}


#layout-content{
    min-height: 69vh;
}

.carousel-sm{
    max-height: 15em;
}

.featured-image{
    width: 22em;
}

.date-text-post{
    padding-top: 6px;
    background-color: $base-header;
    border-radius: 3px;
    max-width: 66px;
    max-height: 92px;
}

.sign-in-input{
    max-width: 400px;
}

