@font-face {
    font-family:"Home";
    src: url("/themes/comite/assets/fonts/Home.ttf") format("truetype");
}

@font-face {
    font-family:"Quintana";
    src: url("/themes/comite/assets/fonts/Quintana.ttf") format("truetype");
}

@font-face {
    font-family:"Sansation";
    src: url("/themes/comite/assets/fonts/Sansation_Bold_Italic.ttf") format("truetype");
}

@font-face {
    font-family:"Sansation";
    src: url("/themes/comite/assets/fonts/Sansation_Bold.ttf") format("truetype");
}

@font-face {
    font-family:"Sansation";
    src: url("/themes/comite/assets/fonts/Sansation_Italic.ttf") format("truetype");
}

@font-face {
    font-family:"Sansation";
    src: url("/themes/comite/assets/fonts/Sansation_Light.ttf") format("truetype");
}
@font-face {
    font-family:"Sansation";
    src: url("/themes/comite/assets/fonts/Sansation_Light_Italic.ttf") format("truetype");
}

@font-face {
    font-family:"Sansation";
    src: url("/themes/comite/assets/fonts/Sansation_Regular.ttf") format("truetype");
}