.fa-search{
    color: black;
}

.fa-facebook-f{
    font-size: 35px;
    border-radius: 60px;
    padding: 7px;
    color: white;
    background-color: blue;
    min-width: 35px;
}

.fa-instagram{
    font-size: 35px;
    border-radius: 60px;
    padding: 7px;
    color: white;
    background-color: red;
    min-width: 35px;
}

.fa-twitter{
    font-size: 35px;
    border-radius: 60px;
    padding: 7px;
    color: white;
    background-color: #38a5ff;
    min-width: 35px;
}

.rss{
    margin-right: 10px;
}

.fa-twitter:hover{
    color:black;
}

.fa-facebook-f:hover{
    color:black;
}

.fa-instagram:hover{
    color:black;
}
