[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "category-page"

[searchForm]
resultPage = "search-result"
categoryFilter = 0
==
<div class="col-xl-3 col-md-3 col-12">
    <!-- Search Bar -->
    <div class="row">
        <div class="col-xl-12 col-12 text-center">
            <p class="h5 text-base-blue font-weight-bold">Buscar Publicaciones</p>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <form class="form-inline" method="GET" action="{{ searchForm.resultPage|page }}">
            <input type="text" name="search" class="form-control">
        
            {% if searchForm.categoryFilter %}
                <select name="cat[]" class="form-control">
                {% for key,cat in searchForm.categories %}
                    <option value="{{ key }}">{{ cat }}</option>
                {% endfor %}
                </select>
            {% endif %}
        
            <button class="btn btn button-blue" type="submit">{{ 'Buscar'|_ }}</button>
        </form>
    </div>


    <!-- Social Networks -->
    <div class="row mt-3">
        <div class="col-md-12 col-12 text-center">
            <p class="h5 text-base-blue font-weight-bold">Síguenos en</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-12 text-center">
            <div class="p-3">
                <a href="https:://facebook.com" class="icon-block">
                    <i class="fab fa-facebook-f rss"></i>
                </a>
    
                <a href="https:://twitter.com" class="icon-block">
                    <i class="fab fa-twitter rss"></i>
                </a>
    
                <a href="https:://instagram.com" class="icon-block">
                    <i class="fab fa-instagram rss"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Category List -->
    <div class="row ">
        <div class="col-md-12 col-12 text-center">
            <p class="h5 text-base-blue font-weight-bold">Categorías</p>
        </div>
    </div>
    <div class="row list-group">
        {% if blogCategories.categories|length > 0 %}
            {% partial 'Categories/items'
                categories = blogCategories.categories
                currentCategorySlug = blogCategories.currentCategorySlug
            %}
        {% else %}
            <p>No hay categorias disponibles</p>
        {% endif %}
    </div>

    <!-- Suscription -->
   
    <form>
        <div class="form-group row mt-3">
            <div class="col-md-12 col-12 text-center">
                <label class="h5 text-base-blue font-weight-bold" for="exampleInputEmail1">Suscripción</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresa tu Correo Electrónico">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 p-0 text-center">
                <button type="submit" class="btn button-blue">Suscribirse</button>
            </div>
        </div>
    </form>

    



</div>