title = "category page"
url = "/category/:slug"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "category-page"
postPage = "blog-post"
==


<div class="col-md-8">
    {% set posts = blogPosts.posts %}

    {% for post in posts %}

        <div class="row">

            <div class="col-md-2 date-text-post text-center">

                <p class="text-white h3 m-0">{{ post.published_at|date('d') }}</p>
                <p class="text-white h6 m-0">{{ post.published_at|date('M') }}</p>
                <p class="text-white h6 m-0">{{ post.published_at|date('Y') }}</p>

            </div>

            <div class="col-md-10">

                <div class="row">

                </div>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                <div class="row">
                    <div class="col-md-7">
                        {% if post.featured_images.count %}
                            <div id="post-list-featured-images-top">
                            {% for image in post.featured_images|slice(0, 1) %}
                                <a href="{{ image.path }}">
                                    <img class="featured-image" data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description != null ? image.description : image.filename }}" title="{{ image.title != null ? image.title : post.title }}">
                                </a>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <p class="excerpt">{{ post.summary|raw }}</p>
                    </div>
                </div>
    
                <div class="row">
                    <!-- <div class="col-md-3">
                        <p class="d-inline">Comentarios: </p>
                        <p class="d-inline">{{ commentsPost.count }}</p>
                    </div> -->
                    <div class="col-md-9">
                        <p class="info">
                            {% if post.categories.count %} 
                                Categorias: 
                            {% endif %}
                            {% for category in post.categories %}
                                <a href="category/{{ category.slug }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    
                    
                </div>
                    
                    
            </div>
            

        </div>

    
    {% else %}

        <div class="row">
            <p class="no-data">{{ blogPosts.noPostsMessage }}</p>
        </div>
        
    {% endfor %}
    
    {% if posts.lastPage > 1 %}
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
            {% endif %}
    
            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}
    
            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>

