title = "register"
url = "/register"
layout = "default"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
requirePassword = 0
==
<div class="col-md-8">

    <div class="row">

        <div class="col-md-12">
            {% if canRegister %}
                <h3>Registro</h3>

                {{ form_ajax('onRegister') }}

                    <div class="form-group">
                        <label for="registerName">Nombre Completo</label>
                        <input
                            name="name"
                            type="text"
                            class="form-control sign-in-input"
                            id="registerName"
                            placeholder="Ingresa tu nombre completo" />
                    </div>

                    <div class="form-group">
                        <label for="registerEmail">Email</label>
                        <input
                            name="email"
                            type="email"
                            class="form-control sign-in-input"
                            id="registerEmail"
                            placeholder="Ingresa un email" />
                    </div>

                    {% if loginAttribute == "username" %}
                        <div class="form-group">
                            <label for="registerUsername">Usuario</label>
                            <input
                                name="username"
                                type="text"
                                class="form-control sign-in-input"
                                id="registerUsername"
                                placeholder="Ingresa un usuario" />
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="registerPassword">Contraseña</label>
                        <input
                            name="password"
                            type="password"
                            class="form-control sign-in-input"
                            id="registerPassword"
                            placeholder="Ingresa una contraseña" />
                    </div>

                    <button type="submit" class="btn btn-success">Register</button>

                {{ form_close() }}
            {% else %}
                <!-- Registration is disabled. -->
            {% endif %}

        </div>

    </div>
</div>